<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户绑定</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<!--<script src="/static/jquery-2.1.1.min.js" type="text/javascript"></script>-->
<div class="htmleaf-container">
    <div class="wrapper">
        <div class="container">
            <h1>Welcome</h1>
        <p th:text="${name}" id="p1" style="display: none"/>
            <form class="form">
                <input type="text" placeholder="Username"/>
                <input type="password" placeholder="Password"/>
                <button type="submit" id="login-button">Bind</button>
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#000000">
    <h1>用户绑定</h1>
</div>
</body>
</html>